:root {
    --primary: #233464;
    --secondary: #f3f4;
    --white: #ffffff;
}

*,*:after,*:before {
    font-family: 'Courier New', Courier, monospace;
}
body, html {
    width: 100%;
    height: 100vh;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

